{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
    {% for question in questions %}
        <div class=" py-3 flex space-x-12 border-solid border-b border-primary">
            <div class="w-2/5 box-border">
                <h3>{{ question.question }}</h3>
            </div>
            <div class="space-x-5 w-3/5">
                <a href="{{path('question_edit', {question: question.id})}}">Modifier</a>
                <a href="{{path('question_delete', {question: question.id})}}">Supprimer</a>
                {% if question.activate == 1 %}
                    <a href="{{path('question_desactivate', {question: question.id})}}" >Desactiver</a>
                {% else %}
                    <a href="{{path('question_activate', {question: question.id})}}">Activer</a>
                {% endif %}
                <a href="{{ path('old_survey_stats', {question: question.id}) }}">Voir les stats</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
