{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    <div style="background-color:dark;">
        {% for partner in partners %}
            <div>
                <p>Nom : {{partner.name}}</p>
                <p>Lien du site : <a href="{{partner.website}}">{{partner.website}}</a></p>
                <p>Description : {{partner.description}}</p>
                {% for picture in partner.pictures %}
                    <img src="{{picture.link}}">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
