{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col mt-8 items-center space-y-12">
        {% for offer in offers %}
            <div class="flex flex-col bg-third">
                <div class="flex space-x-8">
                    <h5 class="bg-primary text-[#fff] text-center rounded-lg px-2 py-1">{{ offer.isTypeOffer(offer) }}</h5>
                    <p class="text-primary">Du {{ offer.startDate|date("d/m/Y") }} au {{ offer.endDate|date("d/m/Y") }} - {{ offer.nbPlaces }} places minimum</p>
                </div>
                <div class="flex mt-8">
                    {% if offer.pictures | length >= 1 %}
                        <img class="w-28 rounded-full" src="{{ offer.pictures[0].link }}">
                    {% else %}
                        <img class="w-28 rounded-full" src="{{ asset('files/placeholder.png') }}">
                    {% endif %}
                    <div class="flex flex-col justify-center m-auto space-y-5">
                        <h5 class="font-bold text-2xl text-primary underline text-center rounded-lg px-2 py-1">{{ offer.name }}</h5>
                        <p class="text-primary">Prix : {{ offer.price }} €</p>
                    </div>
                    <a class="flex items-end text-secondary" href="#">En savoir plus<span class="material-symbols-outlined">arrow_forward</span></a>
                </div>
                <div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}