{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(offer) }}

    {% if app.request.attributes.get('_route') == 'create_offer' %}
        <h1>Créer une offre.</h1>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'edit_offer' %}
        <h1>Modifier l'offre.</h1>
    {% endif %}
    {{ form_start(permanentOfferType) }}
    {{ form_row(permanentOfferType.name) }}
    {{ form_row(permanentOfferType.price) }}
    {{ form_row(permanentOfferType.nbPlaces) }}
    {{ form_row(permanentOfferType.startDate) }}
    {{ form_row(permanentOfferType.endDate) }}
    {{ form_row(permanentOfferType.description) }}
    <ul class="tags"
        data-index="{{ permanentOfferType.pictures|length > 0 ? permanentOfferType.pictures|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(permanentOfferType.pictures.vars.prototype)|e('html_attr') }}"
    >
        {% if app.request.attributes.get('_route') == 'create_offer' %}
            {% for picture in permanentOfferType.pictures %}
                <li>{{ form_row(picture.pictureLink) }}</li>
            {% endfor %}
        {% elseif app.request.get('_route') == 'edit_offer' %}
            {% for picture in offer.pictures %}
                <p>{{ picture.link }}</p>
                <a href="{{ path('remove_picture', {offerPicture: picture.id}) }}"> supprimer </a>
            {% endfor %}
        {% endif %}
    </ul>
    {% if offer.pictures|length < 4 %}
        <button type="button" class="add_item_link" data-collection-holder-class="tags">Add a tag</button>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'create_offer' %}
        <button type="submit" class="btn">Créer l'offre</button>
    {% endif %}
    {% if app.request.attributes.get('_route') == 'edit_offer' %}
        <button type="submit" class="btn">Modifier l'offre</button>
    {% endif %}
    {{ form_end(permanentOfferType) }}
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };
        const isInputMax = () => {
            let inputs = document.querySelectorAll('li')
            if (inputs.length > 3) {
                document.querySelector('.add_item_link').style.display = "none";
            }
        }
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection);
                btn.addEventListener("click", isInputMax);
            });

    </script>
{% endblock %}

