{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .main {
            float: right;
            margin-right: 150px;
        }

        .marqueur {
            width: 10px;
            font-size: 25px;
            margin-left: 100px;
            display: flex;
        }

        .img-page {
            margin-top: 16px;
        }

        .Presentation {
            background-color: #DCDCDC;
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        .Titre {
            font-size: 28px;
            color: #384394;
            margin-top: -18px;
        }

        .Top {
            display: flex;
            padding-bottom: 15px;
        }

        .Type {
            margin-right: 10px;
            background-color: #384394;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 13px;
            color: white;
        }

        .DescriptionSup1 {
            padding-bottom: 15px;
        }

        .More {
            float: right;
        }

    </style>
    {% include('navbar/index.html.twig') %}
    <div class="marqueur">
        <div class="img-page">
            <img style="width: 40px" src="../../../img/maison.jpg" alt="img">
        </div>
        <p style="display: flex;"><b></b> Accueil </p>
    </div>
    <div class="main">
        <div class="Presentation">
            <div class="Titre">
                <p>CSE Lycée Saint-Vincent</p>
            </div>
            <div class="text">
                <p>Nous vous souhaitons la bienvenue sur le site du commité social et économique du lycée Saint-Vincent à Senlis.</p>
                <p>Découvrez l'équipe et le rôle et missions de votre CSE</p>
            </div>
        </div>

        <div class="TitreOffre">
            <h1>Dernières offres ponctuelles</h1>
        </div>

        <div class="m-auto space-y-8">
            {% for offer in offers %}
                <div class="flex flex-col md:max-w-xl bg-third p-8 w-4/5 ">
                    <div class="flex space-x-8">
                        <h5 class="bg-primary text-[#fff] text-center md:text-sm text-xs rounded-lg px-2 py-1">{{ offer.isTypeOffer(offer) }}</h5>
                        <p class="text-primary md:text-lg text-sm">Du {{ offer.startDate|date("d/m/Y") }} au {{ offer.endDate|date("d/m/Y") }} - {{ offer.nbPlaces }} places</p>
                    </div>
                    <div class="flex mt-6">
                        {% if offer.pictures | length >= 1 %}
                            <img class="md:w-28 w-16 object-scale-down rounded-full" src="../../{{ offer.pictures[0].link }}">
                        {% else %}
                            <img class="md:w-28 w-16 object-scale-down rounded-full" src="{{ asset('files/placeholder.png') }}">
                        {% endif %}
                        <div class="flex flex-col justify-center box-border max-w-md m-auto ">
                            <h5 class="font-bold md:text-xl text-md text-primary underline text-center rounded-lg px-2 py-1">{{ offer.name }}</h5>
                            <div class="flex justify-center md:space-x-36 space-x-24 mt-5">
                                <p class="text-primary md:text-lg text-sm ">Prix : {{ offer.price }} €</p>
                                <a class="flex lg:text-md md:text-sm text-sm text-secondary pt-8" href="{{ path('show_offer', {'offer': offer.id}) }}">En savoir plus<span class="material-symbols-outlined">arrow_forward</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(offers) }}
        </div>
    </div>
    {% include('footer/index.html.twig') %}
{% endblock %}
